p,ol,li {
    color: var(--cor-letra);
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
}

h1,h2,h3 {
    color: var(--cor-letra);
    text-align: justify;
    font-size: 2em;
    margin-bottom: 0.5em
}

button {
  color: var(--cor-letra);
  background-color: var(--cor-fundo);
  border: 1px solid var(--cor-letra);
  cursor: pointer;
}

header {display: flex; gap: 20px;}

details {max-height: 300px; overflow-y: auto;}

section {
    border: 1px solid var(--cor-letra);
    width: 330px;
    background: var(--cor-fundo);
}

.rascunho-title {
  font-size: 1.2em;
  font-weight: bold;
}


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-letra);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

details {
    scrollbar-width: thin;
    scrollbar-color: var(--cor-letra) transparent;
}

details > summary {
    padding: 4px;
    width: 160px;
    border: none;
    color: var(--cor-letra);
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

main {
    width: 95%;
    margin: 0 auto;
  }
  
div.content {
    padding: 20px;
  }  

section.letra {
  width: 50%; 
  height: 300px; 
  overflow-y: auto; 
  margin-left: 0; 
  border: 1px solid var(--cor-letra); 
  padding: 10px;}

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding:15px;
    border: none;
}

div.gallery {
  margin: 5px;
  border: 1px solid var(--cor-letra);
  width: 330px;
  background: var(--cor-fundo);
}
      
div.gallery img {
  width: 330px;
  height: 330px;
}

div.desc {
  padding: 15px;
  text-align: justify;
  color: var(--cor-letra);
}

a:link, a:visited {
  color: var(--cor-letra);
}

footer {
  margin: 5px;
  padding: 50px;
  border: 1px solid var(--cor-letra);
  background: var(--cor-fundo);
  color: var(--cor-letra);
  width: auto;
  height: auto;
  border-radius: 15px;
}

img.capa {
  width:360px;
  height:360px;
  float:right;
  margin: 5px;
  border: 1px solid var(--cor-letra);
}

p.footer {
  font-size: 250%;
}
